version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto:2.0.13
    container_name: mosquitto
    volumes:
      - ./mosquitto.conf:/mosquitto.conf
    restart: always
    ports:
      - "1883:1883"
    command:  mosquitto -c /mosquitto.conf
  sparkmaster: 
    image: mahsahadian/spark-master
    container_name: sparkmaster
    restart: always
    ports:
      - "8080:8080"
      - "7077:7077"
  sparkworker: 
    image: mahsahadian/spark-worker
    restart: always
    depends_on:
      - sparkmaster
    env_file:
      - spark-edge-variables
  sparkjob: 
    image: mahsahadian/spark-job
    container_name: sparkjob
    depends_on:
      - sparkmaster
    env_file:
      - spark-edge-variables