# Use root/example as user/password credentials
version: '3.1'

services:
  influxdb_MSR:
    image: influxdb:1.8.3
    restart: always
    ports:
      - "8087:8086"
    volumes:
      - /influxdb_MSR:/var/lib/influxdb
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - ./dataa:/data
